.container{
    background-color: #acb7bd;
}

.main{
    margin-left: 30%;
    color: #ffffff;
    margin-bottom: 5%;
}

#mainMenu{
    margin-left: 20%;
    color: blueviolet;
    font-weight: bolder;
    margin-bottom: 5%;
    margin-top: 10%;
}

.right{
    float: right;
}

.left{
    float: left;
}

.choiceImg{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
  }

  #content{
      margin-left: 15%;
  }

  #copyright{
      margin-top:100px;
      margin-bottom: 0%;
      color: #ffffff;
  }